  @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');



.getcen {
    text-align: center !important;
    padding-top: 100px;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
}