.fa-home {
    font-size: 1em;
}
.w3-large .fa-home {
    font-size: 2em;
}
.w3-xlarge .fa-home {
    font-size: 3em;
}
.w3-xxlarge .fa-home {
    font-size: 4em;
}
.w3-xxxlarge .fa-home {
    font-size: 5em;
}
.w3-jumbo .fa-home {
    font-size: 6em;
}